Flask 
requests 
pytz 
Pillow 
waitress
yfinance 
numpy
adafruit-blinka 
adafruit-circuitpython-bme680 
spidev 
smbus 
gpiozero
cairosvg
lgpio
rpi.gpio
colorama
adafruit-circuitpython-bme280
pimoroni-bme280
-e ./vendor/bme68x
