Flask 
requests 
pytz 
Pillow 
waitress
yfinance 
numpy
adafruit-blinka 
adafruit-circuitpython-bme680
adafruit-circuitpython-sht4x
spidev
smbus
lgpio
gpiozero
cairosvg
rpi.gpio
colorama
adafruit-circuitpython-bme280
pimoroni-bme280
-e ./vendor/bme68x
